/**************************** Başlık ***********************************/
h1 {
    color: red;
    text-align: center;
    font-family: 'Kalnia', serif;
    text-transform: uppercase;
    border-style: solid;
    border-color: brown blue green magenta;
    width: 500px;
    margin: auto;
    font-size: 30px;
}

h2{
    color: red;
    text-align: center;
    font-family: 'Kalnia', serif;
    text-transform: uppercase;
    border-bottom: solid green;
    width: 200px;
    margin: auto;
}

h3{
    color: red;
    text-align: center;
    font-family: 'Kalnia', serif;
    text-transform: uppercase;
    border-style: solid;
    border-color: brown blue green magenta;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 500px;
}

p {
    font-size: large;
    font-family: sans-serif;
}

a {
    color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-style: dashed;
    border-color: blueviolet;
    margin: auto;
    padding: 5px;
}

.sayfa{
    position: relative;
    top: 10px;  
    display: -ms-grid; 
    bottom: 50px;
    right: 13px;
    color: darkgreen;
    border-style: double;
    border-width: 5px;
    background-color: cyan;
}